h1 {
  text-align: center;
  margin: 0 !important;
  width: 70%;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 90%;
}

/* MONTH */

.namesHeader {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: auto;
  background-color: rgb(34 114 234);
  border: 2px solid #a0a0a0;
  border-bottom: none;
}

.namesHeader h2 {
  width: 14.28%;
  margin: 5px 0;
  text-align: center;
  color: white;
  font-size: 20px;
}

.daysContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  border-left: 2px solid #a0a0a0;
  border-top: 2px solid #a0a0a0;
}

/* DAY */

.disabledDayDiv {
  width: 14.28%;
  border-right: 2px solid #a0a0a0;
  border-bottom: 2px solid #a0a0a0;
  height: 190px;
}

.disabledDayDiv .dayHeader {
  color: #a0a0a0;
}

.dayDiv {
  width: 14.28%;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  height: 190px;
}

.weekEndDay {
  background-color: rgb(234 234 234);
}

.dayDiv.weekEndDay .dayHeader {
  color: rgb(34 114 234);
}

.dayHeader {
  height: 15%;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}

.dayRemaindersDiv {
  height: 65%;
  overflow: auto;
}

.dayFooter {
  padding: 2px 0;
  height: 20%;
  display: flex;
  justify-content: flex-end;
}

.addRemainderBtn {
  border-radius: 50%;
  font-size: 15px;
  height: 90%;
  margin: 0px 2px;
}

/* REMAINDER */

.remainderDiv {
  height: 34px;
  padding: 5px;
  font-size: 17px;
}

.remainderDiv p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pink {
  background-color: #e03997 !important;
}
.olive {
  background-color: #b5cc18 !important;
}
.blue {
  background-color: #2185d0 !important;
}
.yellow {
  background-color: #fbbd08 !important;
}
.teal {
  background-color: #00b5ad !important;
}

/* REMAINDER DETAILS */

.remainderDetailsContainer {
  display: flex !important;
}

.remainderDetailsContainer p {
  font-size: 20px;
}

.remainderDetailsContainer div {
  width: 50%;
}

/* REMAINDER FORM */

.checkboxesContainer {
  display: grid;
  grid-template-columns: 20px 50px 20px 50px;
  align-items: baseline;
  grid-row-gap: 10px;
}

.labelMargin {
  margin-right: 40px !important;
}

.dropdownCustom {
  width: 400px !important;
  display: inline-block !important;
}

.forecastIcon {
  border-radius: 50%;
  float: right;
}
