h1 {
  text-align: center;
}

.daysContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

/* DAY */

.dayDiv {
  width: 14%;
  border: 1px solid black;
  border-collapse: collapse;
  height: 190px;
}

.dayHeader {
  height: 15%;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: gray;
}

.dayRemaindersDiv {
  height: 65%;
}

.dayFooter {
  height: 18%;
  display: flex;
  justify-content: flex-end;
}

.addRemainderBtn {
  border-radius: 50%;
  font-size: 15px;
  height: 90%;
  margin: 0px 2px;
}

/* REMAINDER */

.remainderDiv {
  height: 34px;
  padding: 5px;
  font-size: 17px;
}

.pink {
  background-color: pink !important;
}
.green {
  background-color: green !important;
}
.blue {
  background-color: blue !important;
}
.yellow {
  background-color: yellow !important;
}
